@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To my Homepage about me!!</h1>
   <p> 
    Hi my name is Orlando Palacios, and i am from texas! I have 3 sisters and the only guy in the family. 
    I usually play video games on my freetime, other than that im on spotify. I am in the CS degree and wish to develop games in the future.
    Some video games that i enjoy to play is apex legends, Minecraft(modded or server), fortnite, dying light 2,
    Tmod, etc.Also i have zero brain power at the appartments so more functioning at school.
</p>
   <footer>&copy OPH</footer>
</div>
<figure style="display:flex">
<img src="https://townsquare.media/site/442/files/2013/04/futurama.jpg?w=1200&h=0&zc=1&s=0&a=t&q=89"  />
<img src="https://media.tenor.com/images/8926ea6042ca5ab30fdb95b7ff8767ec/tenor.gif"/>
</figure>
<footer>&copy OPH</footer>