@{
    ViewData["Title"] = "Home Page";
    //layout = "_layout1" to change the layout for this page
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1>    GAME DETAILS </h1>
    <p>
        You clicked on game @ViewBag.Game.Id
    </p>
</div>