@{
    ViewData["Title"] = "Before Neumont";
}

<div class="text-center">
    <h1 class="display-4">Before neumont</h1>
<p> 
    I was very new when it came to computer programming, i never once developed an application and the 
    only language i knew was a bit of java, which was still very bad. I didnt have any friends here nor did
    I seek them out, the only people i knew was those in the appartments that we had to get along.
    this wasn't the first time i was out of my state, though it is the first time i live somewhere other than the state i lived in. when it came to the degree of choice i wanted to go game development
    and seek a good job company in which they produce on of my favorite games, for instance dying light. That did not happen due to me being somewhat bad at math and missing the mark by one point each math class.
</p>
<img src="https://content.fortune.com/wp-content/uploads/2015/04/neumontuniversitycampus_img_2250.jpg"/>
<img src="https://th.bing.com/th/id/R.bac323e3efa1a637fd55dec5b28a2a38?rik=gsRQqfwQAR1Atg&pid=ImgRaw&r=0"/>
   <footer>&copy OPH</footer>
</div>
