@{
    ViewData["Title"] = "Future";
    //for stylining we could just have the page give the css//not needed
}

<div class="text-center">
    <h1 class="display-4">My Future</h1>
   <p> 
       I would like to say the future is so far from now, So there is no precise way to tell what would happen.
       if everything was to go the way I want it, I would like to work  at a gaming company Deep silver, naughty dogs, insomniac Games, etc.
       These companies are one that highly affected my childhood and would be great to work under, even if for a short time. I want to be able to look towards something that will be able to 
       bring me joy anyday than once a week. I want to also be able to travel, it is one of the things that i find enjoyable when you have the time for it.
       If I do not get into the gaming company that i wanted, than I would like to work with companies taht own these gaming studios such as xbox, nintendo, playstation, or VRstudios. I did develop a paint game once with a couple of friends
       and it was enjoyable though, it felt as if I did not contribute as much i hope to be able to create another product like it. I have much to learn
       and with this i hope to find one day a place where my knowledge, lacking or not, may be of use.

   </p>
   <!--
       <link rel="stylesheet" href="~/css/aboutme.css" asp-append-version="true" />
       this is a way to get this pages css differently and set it diffenrently
   -->   
   <img src="https://th.bing.com/th/id/OIP.ORZvkfT4wBnIYnAv1oiFbQHaEa?pid=ImgDet&rs=1" />
   <img src="https://th.bing.com/th/id/R.5b8e514985e4ef494f77377cb55af28e?rik=2A8QbXxdTjFA7A&pid=ImgRaw&r=0"/>
   <footer>&copy OPH</footer>
</div>
