@{//code block(be able to write code if we want to send code into the view) 
    
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Welcome to CSC260</h1>
    <h2>Message of the Day</h2>
    <div>
        @ViewBag.MessageOfTheDay
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
